@page "{id}"
@model PortfolioWithRazorPages.Pages.Blog.DetailModel
@{
    var id = long.Parse((string)RouteData.Values["id"]);
    var blog = await BlogPostsService.FindAsync(id);

    ViewData["Title"] = blog.Title;
}

<div class="container blog-detail-container">
    <div class="blog-text-container">
        <p>@blog.Body</p>
        <p>@blog.CreationDate.ToLongDateString()</p>
    </div>
</div>