<div class="index-header-container bg-primary text-white text-center">
    <!-- Masthead Heading -->
    <h1 class="masthead-heading text-uppercase mb-0" id="index-main-title">Josh Douce</h1>

    <!-- Icon Divider -->
    <div class="divider-custom divider-light">
        <div class="divider-custom-line"></div>
        <div class="divider-custom-icon">
            <i class="fas fa-star"></i>
        </div>
        <div class="divider-custom-line"></div>
    </div>

    <!-- Masthead Subheading -->
    <p class="masthead-subheading mb-0" id="index-subtitle">Software Developer</p>

    <div class="social-media-grid-container">
        <a href="https://github.com/JoshuaDouce" target="_blank"><img src="~/media/icons8-github-white.svg" class="social-icon" /></a>
        <a href="https://www.linkedin.com/in/joshua-douce-520170109/" target="_blank"><img src="~/media/icons8-linkedin.svg" class="social-icon" /></a>
        <a href="https://twitter.com/JoshDouce" target="_blank"><img src="~/media/icons8-twitter.svg" class="social-icon" /></a>
    </div>

</div>