.project-card, .blog-card {
    width: 95%;
    margin: 0px auto;
    border: none;
}

h1 {
    background-color: var(--main-dark-primary);
    color: white;
    margin: 0px;
    padding: 10px;
}

#homepage-top-title {
    margin-top: 0px;
}

#homepage-top {
    text-align: center;
    background-color: white;
    color: var(--main-dark-primary);
    font-weight: bold;
    font-size: medium;
    padding: 10px;
}

#profile-img {
    height: 100px;
    width: 100px;
    margin: 10px 10px 10px 5px;
    border-radius: 50%;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .project-card, .blog-card {
        height: 40%;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .project-card, .blog-card {
        width: 30%;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    
}
