.project-card, .blog-card {
    width: 90%;
    margin: 0px auto;
    border: none;
}

#homepage-top-title {
    margin-top: 0px;
}

#homepage-top {
    text-align: center;
    background-color: white;
    color: var(--main-dark-primary);
    font-weight: bold;
    font-size: medium;
    padding: 10px;
}

#profile-img {
    height: 100px;
    width: 100px;
    margin: 10px 10px 10px 5px;
    border-radius: 50%;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .project-card, .blog-card {
        height: 40%;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .home-projects-row, .home-blog-posts-row {
        text-align: center;
        margin-top: 10px;
    }

    .home-projects-row {
        width: 100%;
        margin: 0;
    }

    .project-card {
        width: 33.33%;
        margin: auto;
    }

    .blog-card{
        width: 97%;
        text-align: center;
        font-weight: bold;
        font-size: large;
        margin: 10px auto;
    }

    #profile-img {
        height: 175px;
        width: 175px;
        margin: 25px 15px 15px 10px;
        border-radius: 50%;
    }

    #homepage-top {
        font-weight: bold;
        font-size: large;
    }

    .project-card > .card {
        border: none;
        border-radius: 0px;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    
}
