#homepage-top {
    text-align: center;
    background-color: white;
    color: var(--main-dark-primary);
    font-weight: bold;
    font-size: medium;
    padding: 10px;
}

#profile-img {
    height: 100px;
    width: 100px;
    margin: 10px 10px 10px 5px;
    border-radius: 50%;
}

.project-card, .blog-card {
    width: 90%;
    margin: 0px auto;
    border: none;
}

.social-media-grid-container {
    display: inline-grid;
    grid-template-columns: auto auto auto;
    margin: auto;
    width: 40%;
    height: 40px;
}

.social-icon{
    height: 36px;
    width: 36px;
}

.index-header-container{
    padding: 20px 0px;
}

.summary-container {
    margin-top: 1rem;
}

#blog-summary {
    margin-bottom: 4rem;
    padding-bottom: 1rem;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .project-card, .blog-card {
        height: 40%;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .home-projects-row, .home-blog-posts-row {
        text-align: center;
        padding-top: 20px;
    }

    .home-projects-row {
        width: 100%;
        margin: 0;
    }

    .project-card {
        width: 30%;
        margin: auto;
    }

        .project-card > .card > img{
            height: 15rem;
        }

    .blog-card{
        width: 97%;
        text-align: center;
        font-weight: bold;
        font-size: large;
        margin: 10px auto;
    }

    #profile-img {
        height: 150px;
        width: 150px;
        margin: 25px 15px 15px 10px;
        border-radius: 50%;
    }

    #homepage-top {
        font-weight: bold;
        font-size: large;
    }

    .social-media-grid-container {
        width: 10%;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    
}
