.projects-main {
    text-align: center;
    padding-top: 1px;
    padding-bottom: 10px;
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .project {
        margin: 5px;
        width: 30%;
        display: inline-block;
    }

    .project-list-card {
        width: auto;
    }
}
