/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

/* Variables
-------------------------------------------------- */
:root {
    --main-dark-primary: #2c3e50;
    --secondary-light-primary: #bbdefb;
    --secondary-light-variant: #eeffff;
}

/* HTML Elements
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
    font-size: 14px;
}

body {
    margin-bottom: 60px;
}

h1, h2 {
    margin: 7.5px 0px;
    text-align: center;
    font-weight: bold;
    color: var(--main-dark-primary);
}

h2 {
    padding-top: 1rem;
}

footer {
    margin-top: 10px;
    text-align: center;
}

a {
    color: black;
    text-decoration: none;
}

main {
    height: 100%;
    width: 100%;
}

.material-icons.md-36 {
    font-size: 36px;
}

#index-main-title {
    color: white;
}

/*Bootstrap Elements
-------------------------------------------------- */
.border-top {
    border-top: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

.container {
    padding: 0px;
}

.main-container {
    padding: 0px;
    width: 100%;
    margin-top: 65px;
    padding-bottom: 5rem;
}

/*Default Card Style
-------------------------------------------------- */

.card {
    text-align: center;
    margin: 7.5px 15px 7.5px 15px;
}

.card-title {
    margin: 10px 10px;
}

/* Sticky footer styles
-------------------------------------------------- */

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    height: 60px;
    line-height: 60px;
}


/* Navigation Bar
-------------------------------------------------- */

.navbar {
    font-weight: bold;
}

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

.navbar-default{
   border:none;
}

.title {
    padding-top: 2rem;
}

/*Add Edit Container
-------------------------------------------------- */
.addedit-container {
    margin: 20px;
}

/*Background Colors
-------------------------------------------------- */
.bg-dark-blue {
    background: var(--main-dark-primary);
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    h1 {
        font-size: 24px;
        font-weight: bold;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

    html {
        font-size: 16px;
    }

    h1 {
        color: var(--main-dark-primary);
        font-weight: bolder;
        font-size: 24px;
    }

    .card {
        width: auto;
        margin: auto;
    }

    p{
        font-size: medium;
    }

    .main-container {
        margin-top: 100px;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}


