@page "{id}"
@model PortfolioWithRazorPages.Pages.Projects.DetailModel
@{
    var id = long.Parse((string)RouteData.Values["id"]);
    var project = await ProjectsService.FindAsync(id);

    ViewData["Title"] = project.Name;
}

<div class="container project-detail-container">
    <img src="@project.GetInlineImageSrc()" class="project-detail-image"/>
    <div class="project-text-container">
        <p class="project-body">@project.Body</p>
    </div>
</div>
