@page
@model PortfolioWithRazorPages.Pages.AboutModel
@{
    ViewData["Title"] = "About";
}

<!-- Icon Divider -->
<div class="divider-custom">
    <div class="divider-custom-line"></div>
    <div class="divider-custom-icon">
        <i class="fas fa-star"></i>
    </div>
    <div class="divider-custom-line"></div>
</div>

<div class="about-main container">
    <div class="about-text">
        <p>Hi, I'm Josh.</p>
        <p>
            I am currently a Software Developer working for a SAS company based in Leeds City Centre.
            I am also a student at Sheffield Hallam University studying Software Engineering as part of a Degree Level Apprenticeship
        </p>
        <p>Currently my work is mainly web development using Microsofts ASP.NET/.NETCORE stack. In my spare time I enjoy building Android Applications using Kotlin</p>
        <p>I am passionate about crafting applications to imporve business operations and peoples lives whilst keeping the code clean and robust</p>
        <p>I transitioned into Software Development after spending over 4 years working for a well known supermarket chain.</p>
        <p>Outside of software development I enjoy taking my 2 cockapoos out for long walks with the better half, spending time with family and travelling.</p>
    </div>
</div>

