@page
@model PortfolioWithRazorPages.Pages.CVModel
@{
    ViewData["Title"] = "CV";
}

@section Title{

}

<div class="cv-main container">
    <h4 class="title">Profile</h4>
    <p>
        A highly-motivated, driven and aspiring professional looking for an environment to thrive in and progress as a software developer wanting to become a
        specialist in this field. Passionate about native mobile and web development with a strong internal drive to create great quality applications and clean code.
    </p>
    <p>
        Experienced working in agile software development teams to create high quality applications with clean, robust code. In conjunction with,
        excellent team working, communication and problem solving skills to ensure tasks are successful.
        A proven self starter shown by multiple projects undertaken in my own time to progress my knowledge and abilities as a software developer.
    </p>

    <h4>Education</h4>
    <h5>Sheffield Hallam University</h5>
    <h6>Software Engineering Degree Level Apprenticeship</h6>
    <p>
        SEP 2017 - Current
        Currently achieving a 1st Class Honors Degree
    </p>
    <h5> Minsthorpe Community College</h5>
    <p>SEP 2004 - AUG 2012</p>
    <p>A-Levels - Economics - (A), Business - (B), Sociology - (C)</p>
    <p>GCSE’s - 4 x A’s, 3 x B’s - (Including; English, Maths and Science)</p>

    <h5>Certifications</h5>
    <ul>
        <li>
            Microsoft Certified Professional - Programming in C#
        </li>
    </ul>

    <h4>Experience</h4>
    <h5>Epitomy Solutions Ltd- Apprentice Software Developer</h5>
    <h6>JUN 2017 - Current</h6>
    <ul>
        <li>
            Creating/Working on applications using Microsoft's’ ASP.NET MVC framework and .NET CORE
        </li>
        <li>
            Managing automated deployments through Octopus Deploy
        </li>
        <li>
            Using TDD to develop new and existing code
        </li>
        <li>
            Managing and Working with SQL databases
        </li>
        <li>
            Providing customer support and bug fixes for our applications
        </li>
        <li>
            Implementing + Designing new features
        </li>
        <li>
            Using SCRUM + AGILE methodologies
        </li>
        <li>
            Delivering training for our solutions
        </li>
        <li>
            Working alongside others and managing code through source control
        </li>
        <li>
            Managing my own workload
        </li>
        <li>
            Using Team Foundation Server to track work items
        </li>
    </ul>

    <h4>Key Skils</h4>
    <ul>
        <li>
            Effective communication through meetings, email, skype, one to one talks and slack
        </li>
        <li>
            C# + Visual Studio
        </li>
        <li>SQL + Sql Server Management Studio</li>
        <li>
            Octopus Deploy
        </li>
        <li>
            HTML, CSS + Javascript
        </li>
        <li>
            ASP.NET MVC + .NET CORE
        </li>
        <li>
            Test Driven Development
        </li>
        <li>
            Agile + Scrum
        </li>
        <li>
            Git + Team Foundation Server
        </li>
        <li>
            Native Android Development using Android Studio + Kotlin\Java
        </li>
    </ul>

    <h4>Activities and Interests</h4>
    <p>
        I enjoy going to the coast and the countryside with my girlfriend with our two cockapoos on weekends as well as taking short city breaks when we can.
        I enjoy reading, especially on train journeys too and from work as it gives me an opportunity to expand my knowledge in the field or just enjoy a good book.
        I enjoy creating small applications in my own time, particular web apis or android applications as well as a tendency to play around with
        Machine Learning libraries such as Google's Tensorflow.
    </p>
</div>
