@page "{id}"
@model PortfolioWithRazorPages.Pages.ProjectModel
@{
    var id = long.Parse((string)RouteData.Values["id"]);
    var project = await ProjectsService.FindAsync(id);

    ViewData["Title"] = project.Name;
}

<div class="project-detail-container">
    <img src="@project.GetInlineImageSrc()"/>
    <div class="project-text-container">
        <p class="project-short-description">@project.ShortDescription</p>
        <p class="project-body">@project.Body</p>
    </div>
</div>
