@page
@model PortfolioWithRazorPages.Pages.ProjectsModel
@{
    ViewData["Title"] = "Projects";
    var projects = await ProjectsService.GetAllAsync();
}

    <div class="projects-main">
        @foreach (var project in projects)
        {
            <div class="project">
                <a asp-page="/Project" asp-route-id="@project.Id">
                    <div class="card project-list-card">
                        <h5 class="card-title">@project.Name</h5>
                        <img src="@project.GetInlineImageSrc()" class="project-image card-img-top" />
                        <div class="card-body">
                            <p class="card-text">@project.Body.Substring(0, 100)...</p>
                        </div>
                    </div>
                </a>
            </div>
        }
    </div>
