@page
@model PortfolioWithRazorPages.Pages.ProjectsModel
@{
    ViewData["Title"] = "Projects";
    var projects = await ProjectsService.GetAllAsync();
}

@foreach (var project in projects)
{
    <a asp-page="/Project" asp-route-id="@project.Id">
        <div class="container-fluid project">
            <div class="row">
                <div class="card">
                    <h5 class="card-title">@project.Name</h5>
                    <img src="@project.GetInlineImageSrc()" class="project-image card-img-top" />
                    <div class="card-body">
                        <p class="card-text">@project.Body.Substring(0, 200) ...</p>
                    </div>
                </div>
            </div>
        </div>
    </a>
}
